---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<!-- Post here -->
<div class="custom-section">
  <h3>Welcome!</h3>
  <p>Feel free to check out some current and former projects and learn a bit more about me as an engineer!
     Below you'll find a video on my recent Capstone Design Team on self-landing rocketry. Thanks for checking out my website!</p>
  
  <!-- Embedded YouTube video -->
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z3JtFpSVZIc?si=GQDsORj5KAeQModN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <p>For more information on this project in particular, check out my portfolio page on <a href="{{ site.baseurl }}/portfolio/self-landing-rocket">Self Landing Rocketry</a>.</p>
</div>
